
<ul class="list-group">
  <li [class]="getAllBrandClass()" routerLink="/cars">Tüm arabalar</li>
</ul>
<br>
<ul class="list-group">
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.id}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.name }}
  </li>
</ul>

<!-- <ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->
