<div *ngIf="dataLoaded == true">
  <h2>Aracın Bilgileri</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Araba Marka</th>
        <th>Araba Renk</th>
        <th>Araba Model Yılı</th>
        <th>Araba Günlük Fiyatı</th>
        <th>Araba Açıklama</th>
      </tr>
    </thead>
    <tr>
      <td>{{ car.brand }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dealyPrice }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </table>
</div>
<div *ngIf="dataLoaded == true" class="row">
  <h2>Aracın Fotoğrafları</h2>
  <div *ngFor="let carImage of car?.carImages" class="col-md-4">
    <div class="thumbnail">
      <img
        src="{{ apiUrl }}{{ carImage.imagePath }}"
        alt="Lights"
        style="width: 100%"
      />
    </div>
  </div>
</div>
